/*
***
style main here
***
*/

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");

body {
  font-family: "Orbitron", sans-serif;
}

header {
  position: relative;
}

header > *:not(.bg-effect) {
  z-index: 3;
  position: relative;
}
header .bg-effect {
  /*   background-image: url(../img/download.svg);
    background-size:contain; */
  position: absolute;
 /*  filter: opacity(0.2); */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}
.bg-effect path {
    fill: green;
    fill-opacity: 1;
    stroke: green;
    stroke-width: 30px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 0;
    animation: bgeffect 2s linear infinite
}
.wrap {
  width: max-content;
  backdrop-filter: blur(3px);
  border: 5px solid;
  padding: 1rem;
}
svg g {
  transform: scale(0.2) translate(-271em, -350em)
}
@keyframes bgeffect {
  0% {
    stroke-dashoffset: 20000;
    fill: white;
  }
  50% {
    stroke-dashoffset: 10000;
    fill: black;
  }
  100% {
    stroke-dashoffset: 0;
    fill: white;
  }
}
header img,
header nav {
  position: relative;
}
.dark .bg-effect {
  z-index: 0;
}
